# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi
# ... just reach by the recipe name
[buildout]
parts =
    instance
    zopepy
    i18ndude
    repozo
    omelette
    backup

extends =
    http://dist.plone.org/release/4.3-latest/versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.3-latest

extensions =
    mr.developer

sources = sources

versions = versions

# Reference any folders where you have Python egg source code under development here
# e.g.: develop = src/my.package
# If you are using the mr.developer extension and have the source code in a
# repository mr.developer will handle this automatically for you
develop =
    src/*


# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = zope:112d24e2
http-address = 7880
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    zope_i18n_compile_mo_files true

eggs =
    oursql
    requests
    plone.api
    collective.flag
    collective.interfaces
    collective.contentrules.runscript
    wildcard.foldercontents
    quintagroup.seoptimizer >=4.0
    quintagroup.plonegooglesitemaps
    Products.LinguaPlone
    Products.PloneFormGen
    mediatria.utils
    mediatria.cookies
    umanot.article
    umanot.homepage
    umanot.orders
    umanot.site
    plone.formwidget.recaptcha

# Some pre-Plone 3.3 packages may need you to register the package name here in
# order their configure.zcml to be run (http://plone.org/products/plone/roadmap/247)
# - this is never required for packages in the Products namespace (Products.*)
zcml =


# zopepy commands allows you to execute Python scripts using a PYTHONPATH
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${instance:location}/lib/python ./

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on the format of
# this part
[sources]
#collective.developermanual = git git://github.com/collective/collective.developermanual.git

[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo

[backup]
recipe = collective.recipe.backup
blob_storage = ${buildout:directory}/var/blobstorage

# Version pindowns for new style products go here - this section extends one
# provided in http://dist.plone.org/release/
[versions]
wildcard.foldercontents = 1.2.7
plone.app.discussion = 2.2.12
Products.PloneFormGen = 1.7.17