@mixin noMarker {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

$editBarMainColor : #617C99;

$fontA : 'Montserrat', sans-serif;
$fontB : 'Lato', sans-serif;

$transition : all 0.2s ease-in-out 0s;
$appeartransition : all 0.5s ease-in-out 0s;

$mainColor : #04acbb;

$maxWidth : 1400px;
$border: 1px solid rgba(255, 255, 255, 0.25);

$colorLeft : #D84458;
$colorRight : #17B7CA;