@import "var";

/* --------------------------------- LOGO ------------------------------ */

#portal-logo {display: inline-block;}

#portal-logo img {
  height: 70px;
  width: auto;
  transition: $transition;
  margin-top: 6px;
}

.white #portal-logo img {
  height: 50px;
  width: auto;
  margin: 0;
}

.neg {display: block;}
.pos {display: none;}
.white .neg {display: none;}
.white .pos {display: block;}


/* --------------------------------- TOOLS ---------------------------- */

#tools {
  font-family: $fontA;
  font-size: 12px;
  background-color: #000;
  margin: 0 -15px;
  padding: 6px 30px;
  text-align: right;
}

#tools:after,
#tools:before {
  clear: both;
  display: table;
  content: " ";
}

#tools dl {
  float: none;
  margin: 0;
  padding: 0;
}

#tools dt {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#tools dt > a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

#tools dt a:after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
    border-top: 5px solid #999;
	  position: relative;
	  top: 11px;
    left: 5px;
}

#tools dd {
    right: -10px;
    padding: 0;
    background: #000;
    min-width: 170px;
    top: 23px;
    z-index: 100;
}

#tools dd ul {padding: 0;}

#tools dd li {margin-bottom: 0;}

#tools dd > ul > li > a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 6px 20px 6px 20px;
}

#tools dd > ul > li > a:hover {background-color: #555;}


/* GLOABALNAV */

/* --------------------------------- NAV ------------------------------ */

#main-nav {
  font-family: $fontA;
  float: right;
  padding-top: 35px;
}

.white #main-nav {
  padding-top: 3px;
}

#main-nav ul {
  @include noMarker;
}

#main-nav ul > li {
  margin: 0;
  float: left;
  position: relative;
}

#main-nav ul > li:hover .subNav {
  display: block;
}

#main-nav ul > li > a {
  display: block;
  color: #999;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  line-height: 30px;
  padding: 10px;
  margin: 0 0 0 20px;
  font-size: 12px;
  transition: $transition;
}

#main-nav ul > li > a:hover,
#main-nav ul > li.selected > a {
  color: #fff;
}

#main-nav ul > li#portaltab-search > a {
  font-size: 18px;
  position: relative;
  padding: 10px 40px;
}

#main-nav ul > li#portaltab-search > a:before {
  background-color: rgba(255, 255, 255, 0.25);;
  content: " ";
  height: 20px;
  left: 10px;
  position: absolute;
  top: 15px;
  width: 1px;
}

.white #main-nav ul > li#portaltab-search > a:before {
  background-color: #bbb;
}

.white #main-nav ul > li > a:hover,
.white #main-nav ul > li.selected > a {
  color: $colorRight;
}

#main-nav ul > li .subNav {
  position: absolute;
  left: 10px;
  top: 50px;
  min-width: 220px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.2);
  display: none;
}

.white #main-nav ul > li .subNav {
  background-color: #fff;
}

#main-nav ul > li .subNav > li {
  float: none;
}

#main-nav ul > li .subNav > li > a {
  margin: 0;
  padding: 3px 20px;
}

#main-nav ul > li .subNav > li > a:hover {
  background-color: rgba(0,0,0,0.5);
}

.white #main-nav ul > li .subNav > li > a:hover {
  background-color: rgba(0,0,0,0.1);
  color: #D84458;
}

#nav-switch {
  display: none;
  position: absolute;
  right: 30px;
  top: 52px;
  color: #fff;
  z-index: 90;
  font-size: 32px;
  cursor: pointer;
}

.white #nav-switch {color: #333; top: 35px;}

@media (max-width:1200px) {
  #main-nav ul > li > a {margin: 0 0 0 10px;}
  #portal-logo img {height: 60px; margin-top: 11px;}
}


@media (max-width:1100px) {
  #portal-logo img {height: 50px; margin-top: 18px;}
}

@media (max-width:1050px) {
  #portaltab-index_html {display: none;}
}

@media (max-width:992px) {
  
  body.mobileMenuOn {overflow-y: hidden;}
    
  #portal-header {height: 114px;}
  #portal-header.white {height: auto;}
    
  #main-nav {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 0;
    z-index: 80;
    display: none;
  }
  
  .mobileMenuOn #main-nav {display: block;}
  
  .white #main-nav {padding: 0;}
  
  #main-nav ul {margin: 10% 0 0 0;}
  
  #main-nav ul > li {float: none;}
  
  #portaltab-index_html {display: block;}

  #main-nav ul > li > a {
    font-size: 18px;
    margin: 0;
    display: block;
  }
  
  #main-nav ul > li > a:hover,
  .white #main-nav ul > li > a:hover,
  #main-nav ul > li.selected > a,
  .white #main-nav ul > li.selected > a {color: #fff;}

  #nav-switch {display: block;}
  .mobileMenuOn #nav-switch {color: #fff;}
}


/* LANGUAGE SELECTOR */

#portal-languageselector {
    float: right;
    background: #e3e3e3;
    position: relative;
    top: 0;
    right: 1px;
    z-index: 3;
    padding: 0.25em 0.5em;
    font-size: 80%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    max-width: 50%;
}


/* BREADCRUMBS */

#portal-breadcrumbs {
    font-size: 80%;
    margin-bottom: 1em;
    margin-left: 0.25em;
}
#portal-breadcrumbs a {
    border-bottom: none;
    display: inline-block;
}

.breadcrumbSeparator {color: #666666;}


/* SITEACTIONS */

#portal-siteactions {
    font-size: 85%;
    padding-bottom: 0;
    text-align: right;
    clear: left;
}

#portal-siteactions ul {
    @include noMarker;
}

#portal-siteactions li {
    margin-left: 1.5em;
    display: inline-block;
}
#portal-siteactions li a:hover {
    color: #75ad0a
}

/* CONTENT */

#content {
    line-height: 1.5em;
    clear: both;
    margin: 1em 0 2em;
}

body#content {margin: 1em; background-color: #fff;}

.documentFirstHeading {margin-top: 0;}

.documentDescription,
#description {
    color: #666;
    margin: 0 0 0.6em;
    font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}


#content ul,
#content ol {
  color: #666;
  padding-left: 25px;
  margin-bottom: 30px;
}

#content blockquote {
  font-size: 24px;
  font-weight: 300;
  border: 0;
  padding-left: 0;
  line-height: 1.3em;
}

#content h2 {font-size: 24px;}
#content h3 {font-size: 22px;}
#content h4 {font-size: 20px;}
#content h5 {font-size: 18px;}
#content h6 {font-size: 16px;}

#content p,
#content table,
#content dl,
dl.portlet p,
dl.portlet {
  color: #666;
  margin-bottom: 1em;
}

#content a:target {
    background-color: #ffb;
}
#content span.link-external a {
    background: transparent url(link_icon.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

#category {
    font-size: 75%;
    margin-bottom: 1em;
    color: #666;
    text-align: right;
}

#category a.link-category, span.selectedTag {
    color: black;
    padding: 0.25em 0.5em;
    background: #ddd;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}
#category a.link-category:hover {
    background: #205c90;
    color: White;
    border-color: #205c90;
}
#category .separator {
    display: none;
}

#content ul {
    list-style-type: disc;
}

#content ol,
dl.portlet ol,
div.portletStaticText ol {
    list-style-type: decimal;
}

#content li,
dl.portlet li,
div.portletStaticText li {
    margin-bottom: 0.25em;
    line-height: 1.5em;
    display: list-item;
}

/* Editor styles */
#content .discreet,
#sidebar .discreet {
    color: #666;
    font-size: 85%;
    font-weight: normal;
}

#content .visualHighlight {
    background-color: #ffb;
}

#content .pullquote {
    margin: 0 1em 0.5em 0.5em;
    font-weight: bold;
    line-height: 1.25em;
    float: right;
    width: 35%;
    clear: right;
    color: #444;
    font-size: 1.6em;
    letter-spacing: -0.08em !important;
}
#content .callout {
    background: #eee;
    padding: 1em;
    border-left: 1em solid #ccc;
    clear: both;
}

/* Content layout styles */
#content div.documentByLine {
    font-size: 85%;
    display: block;
    color: #666;
}

#content img.tileImage,
#content div.newsImageContainer {
    float: right;
    margin: 0 1em 0.5em 1em;
}

.eventDetails {
    float: right;
    clear: right;
    margin: 0 0 0.5em 1em;
}
#content .eventDetails .eventDetail {
    clear: both;
}

#content dt {
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 0;
}
#content-core dd {
    margin: 0 0 1em 0;
}

#content pre {
    background-color: #222;
    color: White;
    font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding: 1em;
    overflow-x: auto;
    font-size: 90%;
    margin-bottom: 1em;
    line-height: 1.25em;
}
#content pre.python {
    background-color: White;
}

#content code {
    font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

#content table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

#content div.newsImageContainer a {
    border-bottom: none;
}
#content div.newsImageContainer p.discreet {
    margin: 0;
    padding: 0.5em;
    background-color: #666;
    background-color: rgba(40,40,40,0.7);
    color: White;
    font-weight: bold;
    position: relative;
    width: 190px;
    top: -3em;
}

/* EVENTS */

#content .eventDetails {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0.08em;
    width: 22em;
    margin-top: 1em;
}
#content .eventDetails h2 {
    background-color: #DDDDDD;
    font-size: 100%;
    letter-spacing: 0;
    padding: 0.5em;
    padding-left: 1em;
}
#content .eventDetails .eventDetail h3,
#content .eventDetails .eventDetail div {
    padding: 2%;
}
#content .eventDetails .eventDetail h3 {
    float: left;
    font-size: 100%;
    text-align: right;
    width: 37%;
}
#content .eventDetails .eventDetail div {
    float: left;
    width: 55%;
}

/* IMAGE POSITIONING */

img.image-left,
img.image-right,
.captioned img {
    border: 1px solid #ddd;
}
dd.image-caption {
    text-align: left;
    padding: 0 0 0 3px; /*image padding+border with*/
    margin: 0;
    color: #666;
    font-size: 85%;
}

/* FOOTER */

#section-footer {
  background-color: #252525;
  padding: 40px 30px;
  color: #999;
}

#section-footer p {
  font-size: 13px;
  color: #999;
}

.footerTitle,
.portletTitle {
  color: #999;
  margin: 0 0 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.footerList,
.portletList {
  @include noMarker;
  color: #777;
  font-size: 13px;
}

#content-section .portletList {
  padding-left: 0;
}


.footerList > li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.portletList > li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.footerList > li:last-child,
.portletList > li:last-child {border-bottom: 0;}

.footerList > li > a,
.portletList > li > a {
  color: #aaa;
  padding: 10px 0;
  display: block;
  line-height: 1.3em;
}

#content-section  .portletList > li > a {color: $colorLeft;}

.footerList > li > a .text-muted,
.portletList > li >a .text-muted {
  display: block;
  font-size: 12px;
  margin-top: 4px;
}

#section-colophon {
  background-color: #1C1C1C;
  color: #777;
  padding: 20px 0;
}

#section-colophon p {font-size: 12px; margin-bottom: 0; line-height: 22px;}

.socialList > a {
  color: #777;
  font-size: 22px;
  display: inline-block;
  margin-right: 10px;
  line-height: 22px;
}

#section-colophon .socialList {float: right;}

#contact-block {
  padding-left: 30px;
  border-left: 1px solid rgba(255,255,255,0.1);
  position: relative;
}

#clabLogo {
  bottom: -80px;
  color: #fff;
  display: block;
  font-size: 75%;
  position: absolute;
  right: 0;
}
#clabLogo img {
  height: 100px;
}

#clabLogo span {display: block;}

.tagItem {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 1px 2px 1px 0;
  border-radius: 4px;
}

@media (max-width:992px){
  #contact-block,
  .footerBlock {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 30px 0 0;
    margin-top: 30px;
  }
  
  #clabLogo {bottom: 0;}
}


@media (max-width:600px) {
  #clabLogo {display: none;}
  #section-footer {padding-left: 5px; padding-right: 5px;}
}


/* BACK TO TOP */

#backtotop {
    background-color: #000;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 45px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 45px;
    z-index: 99999;
}

#backtotop i {
    font-size: 20px;
    line-height: 42px;
}
