@import "var";
/* BANNER */

.leaderboardWrapper {
  padding: 10px 10px 10px;
  background: #F2F2E1;
  margin: 0;
}

#viewlet-above-content .leaderboardWrapper {
  margin: -20px -30px 20px;
}

.template-homepage_view #viewlet-above-content .leaderboardWrapper {
  margin: 0;
}

.leaderboard {
  background-color: #FFEFD5;
  width: 728px;
  height: 90px;
  margin: 0 auto;
}

.mediumWrapper {
  margin: 20px 0;
}

.medium {
  background-color: #FFEFD5;
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.halfWrapper {
  margin: 20px 0;
}

.half {
  background-color: #FFEFD5;
  width: 300px;
  height: 600px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .leaderboardWrapper {
    display: none;
  }
}

/* HEADLINE */

#headline-section {
  position: relative;
  min-height: 120px;
}

.userrole-authenticated #headline-section {
  min-height: 1px;
}

.gridOverlay {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: url("grid.png") repeat scroll left top transparent;
}

.headlineContent {
  position: relative;
  z-index: 3;
}

/* ARTICLE & VIDEO HEADLINE */

#article-headline {
  min-height: 450px;
  background: #eee url(article_default.jpg) no-repeat center top;
  background-size: cover;
  padding: 140px 50px 30px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

#article-headline .documentFirstHeading,
#article-folder-headline .documentFirstHeading,
#video-folder-headline .documentFirstHeading,
#partner-folder-headline .documentFirstHeading,
#umanot-document-headline .documentFirstHeading,
#service-folder-headline .documentFirstHeading {
  font-size: 48px;
  color: #FFF;
  font-weight: bold;
  letter-spacing: -2px;
  position: relative;
  z-index: 4;
  margin: 0px;
  width: 65%;
}

#article-folder-headline .documentFirstHeading,
#video-folder-headline .documentFirstHeading,
#partner-folder-headline .documentFirstHeading,
#umanot-document-headline .documentFirstHeading,
#service-folder-headline .documentFirstHeading {
  text-transform: uppercase;
}

#article-headline .byLine {
  font-size: 14px;
  color: #FFF;
  margin: 10px 0px;
}

#article-headline .byLine span {
  padding: 0 10px;
}

#article-headline .byLine span.by {
  padding: 0;
}

#article-headline .byLine a {
  color: #fff;
}

#article-headline .byLine a:hover {
  border-bottom: 1px solid #eee;
}

@media (max-width: 1180px) {

  #article-headline {
    min-height: 380px;
  }
  #article-headline .documentFirstHeading,
  #article-folder-headline .documentFirstHeading,
  #video-folder-headline .documentFirstHeading,
  #partner-folder-headline .documentFirstHeading,
  #umanot-document-headline .documentFirstHeading {
    font-size: 40px;
  }

}

@media (max-width: 992px) {

  #article-headline {
    min-height: 318px;
  }
  #article-headline .documentFirstHeading,
  #article-folder-headline .documentFirstHeading,
  #video-folder-headline .documentFirstHeading,
  #partner-folder-headline .documentFirstHeading,
  #umanot-document-headline .documentFirstHeading {
    font-size: 34px;
    width: 100%;
  }

}

@media (max-width: 600px) {
  #article-headline {
    padding-left: 20px;
    padding-right: 20px;
  }
  #article-headline .documentFirstHeading,
  #article-folder-headline .documentFirstHeading,
  #video-folder-headline .documentFirstHeading,
  #partner-folder-headline .documentFirstHeading,
  #umanot-document-headline .documentFirstHeading {
    font-size: 32px;
  }
}

/* ARTICLE CONTENT */

#article-content {
  margin: 1em 0 3em;
}

/* ARTICLE FOLLOW*/

#follow-button-wrapper {
  padding: 20px 20px;
  background-color: #eee;
  margin-bottom: 30px;
}

#follow-button-wrapper .text {
  margin-left: 280px;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

#follow-section h5 {
  text-transform: uppercase;
  margin: 0 0 5px 0;
  font-size: 18px;
}

#follow-button-wrapper .btn {
  text-transform: uppercase;
  float: left;
  font-weight: bold;
  padding: 8px 14px 7px;
}

#follow-button-wrapper p {
  color: #999;
  margin-bottom: 0;
}

#follow-button-wrapper.portlet {
  padding: 20px;
}

#follow-button-wrapper.portlet .text {
  margin: 0;
  padding: 0;
  border: 0;
}

#follow-button-wrapper.portlet h5 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
}

#follow-button-wrapper.portlet p {
  margin-bottom: 20px;
  font-size: 11px;
}

#follow-button-wrapper.portlet .btn {
  float: none;
  font-size: 12px;
}

@media (max-width: 600px) {
  #follow-button-wrapper .btn {
    float: none;
  }
  #follow-button-wrapper .text {
    margin-left: 0;
    padding: 20px 10px 0 10px;
    border: 0;
  }
  #follow-section h5 {
    font-size: 16px;
  }
}

/* RELATED */

#realted-section {
  padding: 20px 0;
}

#realted-section h5 {
  text-transform: uppercase;
  margin: 0 0 15px;
  font-size: 18px;
}

.relatedItem {
  width: 100%;
  padding: 15px;
  border: 1px solid #eee;
  min-height: 240px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.relatedItem .gridOverlay {
  display: none;
}

.relatedItem figure {
  width: 100%;
  position: relative;
  height: 100px;
  overflow: hidden;
}

#content .relatedItem h3 {
  line-height: 0.7em;
  margin: 10px 0 0;
}

#content .relatedItem h3 a {
  font-size: 11px;
  color: $colorRight;
}

.relatedByLine {
  color: #999;
  font-size: 80%;
}

.relatedByLine a {
  color: $colorLeft;
}

.relatedByLine span {
  display: block;
}

#realted-section .owl-prev,
#realted-section .owl-next {
  position: absolute;
  top: 0;
  font-style: 32px;
  color: #fff;
  display: block;
  width: 30px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  line-height: 24px;
  font-size: 32px;
}

#realted-section .owl-prev:hover,
#realted-section .owl-next:hover {
  background-color: rgba(0, 0, 0, 1);
}

#realted-section .owl-prev {
  left: 0;
}

#realted-section .owl-next {
  right: 0;
}

.owl-carousel .owl-item img {
  height: auto;
}

/* HOMEPAGE */

#intro-section {
  min-height: 460px;
  background-color: #000;
}

#intro-section .overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent url(../img/grid.png) repeat left top;;
}

.introText {
  position: absolute;
  top: 50%;
  margin-top: -135px;
  z-index: 3;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.heroTitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 190px;
  text-align: center;
  letter-spacing: -2px;
  margin: 0 0 0;
  font-weight: 900;
  line-height: 1em;
}

.heroTitle span {
  color: #999;
}

.heroSubTitle {
  color: $colorLeft;
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 18px;
}

.heroSubTitle span {
  color: $colorRight;
}

.heroDescr {
  color: #fff;
  font-size: 15px;
  line-height: 1.4em;
  margin: 20px auto;
  max-width: 70%;
  text-align: center;
}

.slideItem {
  min-height: 460px;
  background-color: #000;
  background-size: cover;
  position: relative;
  padding: 1px 0;
}

#slide01 {
  background: #000 url(var/intro04.jpg) no-repeat center top;
}

#slide02 {
  background: #000 url(var/intro02.jpg) no-repeat center top;
}

#slide03 {
  background: #000 url(var/intro01.jpg) no-repeat center top;
}

#slide04 {
  background: #000 url(var/intro05.jpg) no-repeat center top;
}

#intro-section .owl-prev,
#intro-section .owl-next,
#news-section .owl-prev,
#news-section .owl-next {
  position: absolute;
  top: 50%;
  font-style: 32px;
  color: #fff;
  display: block;
  width: 40px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 44px;
  font-size: 32px;
}

#intro-section .owl-prev:hover,
#intro-section .owl-next:hover,
#news-section .owl-prev:hover,
#news-section .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#intro-section .owl-prev,
#news-section .owl-prev {
  left: 0;
}

#intro-section .owl-next,
#news-section .owl-next {
  right: 0;
}

#news-section .owl-prev,
#news-section .owl-next {
  margin-top: -40px;
}

@media (max-width: 992px) {
  .heroTitle {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .heroTitle {
    font-size: 100px;
  }
}

@media (max-width: 600px) {
  .heroTitle {
    font-size: 60px;
  }
  .heroSubTitle {
    font-size: 18px;
  }
  .heroDescr {
    font-size: 12px;
  }
}

/* SERVICE SECTION */

#service-section:after,
#service-section:before {
  clear: both;
  content: "";
  display: table;
}

#service-section {
  background-color: #668DA2;
  color: #000;
  padding: 20px 20px;
}

#service-section a {
  color: #fff;
}

#service-section h3 {
  font-weight: bold;
  color: #fff;
}

#service-section .serviceItem .ghostButton {
    bottom: 25px;
    position: absolute;
    right: 30px;
}
.serviceItem {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.serviceItem:last-child {
    border-bottom: 0 none;
}

#content .serviceItem p {
  color: #fff;
}

#content .serviceItem h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  margin-top: 0;
}

.serviceItem .ghostButton {
  position: absolute;
  bottom: 30px;
}

#content .serviceItem .desc {
  position: absolute;
  bottom: 93px;
  font-weight: bold;
  margin: 0;
}

#serviceItem01 {
  background-color: $colorLeft;
}

#serviceItem02 {
  background-color: #668DA2;
}

#serviceItem03 {
  background-color: $colorRight;
}

#serviceItem04 {
  background-color: #DDBC7F;
}

@media (max-width: 992px) {
  .serviceItem {
    float: none;
    width: 100%;
    min-height: 1px;
  }

  .serviceItem .ghostButton,
  #content .serviceItem .desc {
    position: static;
  }
}

/* FEATURES */

#feature-section {
  padding: 80px 30px 50px;
}

.featureItem {
  margin-bottom: 40px;
}

.featureIcon {
  font-size: 26px;
  color: #ccc;
  float: left;
  text-align: center;
}

.featureText {
  padding-left: 50px;
}

.featureText h4 {
  font-weight: 900;
  margin-top: 0;
  font-size: 20px;
}

.featureText p {
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 600px) {
  #feature-section {
    padding-left: 5px;
    padding-right: 5px;
  }
  .featureText p {
    font-size: 14px;
  }
}

/* MOSAIC TILE */

#mosaic-section {
  border-bottom: 10px solid #222;
  border-top: 2px solid #000;
}

#mosaic-section:after,
#mosaic-section:before {
  clear: both;
  content: " ";
  display: table;
}

.mosaicTile {
  background-color: #000;
  float: left;
  position: relative;
}

.mosaicTileInner {
  padding: 30px 30px;
  color: #fff;
  min-height: 350px;
  position: relative;
  z-index: 4;
  border: 2px solid #000;
}

#content .mosaicTile h2 {
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: -2px;
  margin: 0 0 10px;
  font-weight: 900;
}

#content .mosaicTile p {
  color: #eee;
}

.mosaicTileOverlay {
  background: rgba(0, 0, 0, 0.4) url(grid.png) repeat left top;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.mosaicTileInner .ghostButton {
  position: absolute;
  bottom: 20px
}

#mt01 {
  width: 33.333333%;
  background: transparent url(var/mt05.jpg) no-repeat center center;
  background-size: cover;
}

#mt02 {
  width: 33.33333%;
  background: transparent url(var/mt03.jpg) no-repeat center center;
  background-size: cover;
}

#mt03 {
  width: 33.33333%;
  background: transparent url(var/mt02.jpg) no-repeat center center;
  background-size: cover;
}

#mt04 {
  width: 50%;
  background: transparent url(var/mt04.jpg) no-repeat center center;
  background-size: cover;
}

#mt05 {
  width: 50%;
  background: transparent url(var/mt01.jpg) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .mosaicTile {
    float: none;
  }

  .mosaicTileInner {
    min-height: 210px;
  }

  #mt01,
  #mt02,
  #mt03,
  #mt04,
  #mt05 {
    width: 100%;
  }

  .mosaicTileInner .ghostButton {
    position: static;
  }
}

/* ARTICLE & VIDEO FOLDER LISTING */

.iframe-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#article-section,
#forum-article-section {
  background-color: #F5F5F5;
  padding: 20px 20px 20px;
}

@media(max-width: 768px) {
  #article-section {
    padding: 10px 10px 10px;
  }
}

#content #article-section h2 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px 0px 30px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  font-size: 28px;
}

.articleItem {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  width: calc(25% - 8px);
  margin: 0 0% 10px;
  position: relative;
}

.articleInner {
  padding: 18px;
}

.legendaModal {
  position: fixed;
  width: 80%;
  z-index: 10;
  right: 50%;
  margin-right: -40%;
  top: 50%;
  height: 500px;
  margin-top: -250px;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  display: none;
}

.active.legendaModal {
  display: block;
}

.legendaModalBtn {
  float: right;
  border-radius: 3px;
  background-color: #D84458;
  padding: 7px 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.legendaInner h5 {
  text-align: center;
  margin-top: 0;
}

.legendaClsBtn {
  text-align: right;
}

.legendaClsBtn i {
  cursor: pointer;
}

.articleImage {
  display: block;
  margin-bottom: 10px;
}

.articleImage img {
  width: 100%;
  height: auto;
}

#content .articleTitle {
  color: $colorRight;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0 0 0;
}

.articleTWrp {
  text-align: center;
  background: url('dot_title.jpg') repeat-x 0 15px;
  width: 500px;
  margin: 12px auto 0;
}

#content .forumStyle h3.articleTitle,
#content .articleTitle.articleLive {
  display: inline-block;
  padding: 0 15px;
  background-color: #fff;
}

#content .articleTitle.articleLive {
  margin-bottom: 15px;
}

#content .forumStyle h3.articleTitle,
#content .articleTitle.articleLive {
  font-size: 26px;
  padding-bottom: 15px;
  display: inline-block;
}

@media (max-width: 991px) {
  .forumStyle .articleTWrp,
  .portfolio-wrp .articleTWrp {
    width: 300px;
  }
}

@media (max-width: 767px) {
  #content .forumStyle h3.articleTitle,
  .portfolio-wrp h3.articleTitle {
    font-size: 18px;
  }
  .forumStyle .articleTWrp {
    background: url("dot_title.jpg") repeat-x 0 10px;
  }
}

@media (max-width: 767px) {
  .forumStyle .articleTWrp {
    background: transparent none;
  }
}

@media (max-width: 510px) {
  #livebox .articleTWrp {
    width: 300px;
  }
  #content .articleTitle.articleLive {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .forumStyle .articleTWrp {
    text-align: left;
    margin-right: inherit;
    margin-left: inherit;
    margin-top: 8px;
  }
  #content .forumStyle h3.articleTitle {
    padding-left: 0;
  }
  #content .forumStyle h3.articleTitle {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  #content .forumStyle h3.articleTitle {
    font-size: 14px;
  }
  .articleTWrp {
    margin-top: 5px;
  }
}

@media (max-width: 340px) {
  .portfolio-wrp .articleTWrp {
    width: 280px;
  }
}

.articleByLine {
  font-size: 90%;
  color: #999;
  margin: 10px 0;
}

.articledescription {
  color: #666;
}

.articleData {
  padding: 15px 0 0;
  border-top: 1px solid #eee;
  color: #999;
  font-size: 90%;
}

#article-section-bottom {
  background-color: #F5F5F5;
  text-align: center;
  padding-bottom: 10px;
}

.forumStyle .articleItem {
  width: auto;
  overflow: hidden;
  display: block;
}

.forumStyle .articleImage {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.forumStyle .articleImage img {
  width: 100%;
  height: auto;
}

.forumStyle .articleItem .ghostButton {
  margin: 0;
  font-size: 80%;
  padding: 0 9px;
}

#content .forumStyle .articleTitle {
  font-size: 18px;
}

.forumStyle .articleByLine {
  margin: 3px 0;
}

.articleTableW {
  background-color: #1F364E;
  width: 100%;
}

.articleTableW tbody tr td {
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(79, 107, 140, 0.19);
  font-size: 13px;
  font-weight: 100;
}

.articleTableW tbody tr td:first-child {
  width: 200px;
  font-weight: 400;
  text-align: right;
}

.articleTableW tbody tr#comment-row td {
  color: palevioletred;
  text-align: left;
  font-size: 11px;
  background-color: #132A40;
}

#post-listing .postAlert {
  text-align: center;
  border: 2px solid $colorLeft;;
}

.articlePrefooter {
  text-align: center;
  padding: 20px 0;
}

.articleFooter {
  background-color: #F9F9CD;
  padding: 18px 18px 5px;
}

.articleFooter p {
  font-size: 12px;
  line-height: 1.35em;
}

/* FEATURED */

#featured-article.articleItem {
  width: 100%;
  box-shadow: 0 0 0 transparent;
  border: 0;
  background-color: transparent;
  padding: 0 0 15px;
  border-bottom: 1px solid #ccc;
}

#content #featured-article .articleTitle {
  font-size: 26px;
  line-height: 1.1em;
}

#content #featured-article .articledescription p {
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  margin-bottom: 10px;
  font-family: $fontA;
}

#content #featured-article .articledescription p:first-letter {
  font-size: 24px;
}

#content #featured-article .ghostButton {
  margin: 0;
  background-color: #24B7CB;
  color: #fff;
  border-color: #fff;
  text-align: center;
  display: block;

}

#content #featured-article .ghostButton:hover {
  background-color: #E33530;
}

/*

#featured-article .articleImage {float: left; margin: 5px 20px 0 0; max-width: 250px;}
.featuredHeadlineRight {margin-left: 270px;}
.featuredDescriptionRight {margin-left: 270px;}

.articleItem.noImage .featuredHeadlineRight,
.articleItem.noImage .featuredDescriptionRight,
#featured-article.articleItem.noImage .articleImage {margin: 0;}
*/

@media (max-width: 992px) {
  .articleItem {
    width: calc(33% - 4px);
  }

  #featured-article .articleImage {
    margin-bottom: 20px;
  }
  .featuredDescriptionRight {
    margin-left: 0;
    clear: both;
  }
}

@media (max-width: 865px) {
  .articleItem {
    width: calc(50% - 8px);
  }
}

@media (max-width: 700px) {
  .featuredRight {
    margin-left: 0;
  }
  #content #featured-article .articleTitle {
    font-size: 18px;
    line-height: 1.2em;
  }
}

@media (max-width: 480px) {
  .articleItem {
    width: 100%;
  }
  #featured-article .articleImage {
    float: none;
    margin: 0 0 20px 0;
    max-width: none;
  }
  .featuredHeadlineRight {
    margin-left: 0;
  }
}

/* ARTICLE, VIDEO, PARTNER & DOCUMENT FOLDER VIEW */

#article-folder-headline,
#video-folder-headline,
#partner-folder-headline,
#umanot-document-headline,
#service-folder-headline {
  position: relative;
  padding: 140px 50px 30px;
  min-height: 250px;
}

#article-folder-headline {
  background: #000 url(var/intro_internal01.jpg) no-repeat center center;
  background-size: cover;
}

#video-folder-headline {
  background: #000 url(var/intro_internal01.jpg) no-repeat center center;
  background-size: cover;
}

#partner-folder-headline {
  background: #000 url(var/intro_internal06.jpg) no-repeat center center;
  background-size: cover;
}

#umanot-document-headline {
  background: #000 url(var/umanot_document_internal.jpg) no-repeat center center;
  background-size: cover;
}

#service-folder-headline {
  background: #000 url(var/intro_internal02.jpg) no-repeat center center;
  background-size: cover;
}

#service-folder-headline {
  background: #000 url(var/intro_internal02.jpg) no-repeat center center;
  background-size: cover;
}

.section-analisi-fisica #article-folder-headline {
  background: #000 url(var/intro_internal03.jpg) no-repeat center center;
  background-size: cover;
}

.section-intelligenza-connettiva #article-folder-headline {
  background: #000 url(var/intro_internal05.jpg) no-repeat center center;
  background-size: cover;
}

.section-trading-for-life #article-folder-headline {
  background: #000 url(var/intro_internal08.jpg) no-repeat center center;
  background-size: cover;
}

.section-perche-umanot #umanot-document-headline {
  background: #000 url(var/intro_internal04.jpg) no-repeat center center;
  background-size: cover;
}

/* VIODE FOLDER */
.videoPop {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  min-height: 480px;
}

.videoPop figure a {
  position: relative;
  display: block;
}

.videoPop figure a:after {
  background: transparent url(play_overlay.png) no-repeat center center;
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  margin: -55px 0 0 -50px;
  opacity: 0.5;
}

.videoPop figure img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

#content .videoPop h2 {
  font-size: 16px;
  margin: 10px 0 5px;
}

#content .videoPop p {
  font-size: 13px;
}

/* PARTNERS */

.partnerItem {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.partnerItem:hover {
  border-color: #777;
}

.partnerItem figure {
  margin-bottom: 20px;
}

.partnerItem figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#content .partnerItem h2 {
  font-size: 18px;
  margin: 10px 0 5px;
  text-align: center;
  color: $colorLeft;
}

#content .partnerItem h2 a {
  color: $colorLeft;
}

#service-folder-view .mrow {
  margin: 0 -5px;
}

#service-folder-view .col-md-4 {
  padding: 0 5px;
}

#service-folder-view > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  background-color: #D84458;
}

#service-folder-view > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  background-color: #668DA2;
}

#service-folder-view > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) {
  background-color: #17B7CA;
}

#service-folder-view > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  background-color: #5E949B;
}

#service-folder-view > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  background-color: #DEBD7B;
}

#service-folder-view > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
  background-color: #EF664C;
}

.serviceBlock {
  padding: 25px;
  min-height: 300px;
  color: #FFF;
  margin-bottom: 10px;
  position: relative;
  background-color: #668DA2;
}

#content .serviceBlock h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin-top: 0px;
}

#content .serviceBlock p {
  color: #FFF;
  font-size: 13px;
  line-height: 1.4em;
}

#content .serviceBlock .desc {
  position: absolute;
  bottom: 93px;
  font-weight: bold;
  margin: 0px;
}

.serviceBlock .ghostButton {
  position: absolute;
  bottom: 30px;
}

@media (max-width: 992px) {
  .serviceItem .ghostButton,
  #content .serviceItem .desc {
    position: static;
  }
}

/* HELP BOX */

#message-box {
  background-color: #fff;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 350px;
  position: fixed;
  z-index: 99999;
  bottom: -500px;
  right: 15px;
  border: 3px solid #D84458;
  border-width: 5px 5px 0;
  border-radius: 5px;
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
}

#message-box-close {
  font-size: 27px;
  color: #333;
  position: absolute;
  right: -16px;
  top: -16px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 27px;
  text-align: center;
  font-weight: bold;
  background-color: #D84458;
  color: #FFF;
  cursor: pointer;
}

#message-box-close:hover {
  background-color: #333;
}

@media print {
  #message-box {
    display: none;
  }
}

#message-box.active {
  bottom: 0;
}

.messageBoxInner {
  padding: 16px 15px 0;
}

#message-box h3 {
  font-family: $fontA;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

#message-box h3 .fa-stack {
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -3px;
}

#message-box h3 i.fa-circle {
  margin-right: 10px;
  color: #5BC0DE;
}

#message-box h3 i.fa-envelope-o {
  font-size: 16px;
}

#message-box p {
  line-height: 1.6em;
  margin-top: 6px;
  font-size: 12px;
}

#message-box hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

#message-box a.link {
  color: #D84458;
  display: block;
  margin-top: 8px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
}

#message-box a.link:hover {
  color: #D84458;
}

#message-box a.btn,
#message-box a.btn:hover {
  color: #fff;
}

@media (max-width: 1124px) {
}

@media (max-width: 768px) {
}

@media (max-width: 580px) {
  max-width: 280px;

}

/* NEWS CAROUSEL */

/*
.ca-container {
    display: block !important;
    height: 350px;
    margin: 0;
    padding: 0;
    position: relative;
}

.ca-nav span {
    background: url("left-arrow.png") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 100px;
    left: -30px;
    position: absolute;
    text-indent: -9999px;
    top: 40px;
    width: 78px;
    z-index: 100;
}

.ca-nav span.ca-nav-next {
    background: url("right-arrow.png") no-repeat scroll center center transparent;
    left: auto;
    right: -30px;
}

.ca-container .ca-wrapper {
    clear: both;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.ca-container .ca-wrapper .ca-item {
    float: left;
    height: 100%;
    position: relative;
    width: 340px;
}

.ca-container .ca-wrapper .ca-item .ca-item-inner {
    padding-right: 15px;
}

.ca-container .ca-wrapper .ca-item .ca-item-inner a {
    display: block;
    height: 175px;
    width: 330px;
    margin: 0 0 17px;
    overflow: hidden;
}

.ca-container .ca-wrapper .ca-item .ca-item-inner img {
    clear: both;
    display: block;
    height: auto;
    width: 100%;
    margin: 0 0 17px;
    overflow: hidden;
}

#content .ca-container .ca-wrapper .ca-item .ca-item-inner h3 {
    clear: both;
    color: #C13825;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 1.5em;
    margin: 0 0 7px;
    font-weight: 100;
}

.ca-container .ca-wrapper .ca-item .ca-item-inner h3 a {display: inline; color:#C13825;}

.ca-container .ca-wrapper .ca-item .ca-item-inner p {
    clear: both;
    display: block;
    float: left;
    height: 120px;
    overflow: hidden;
    margin: 0;
    font-size: 12px;
    color: #666;
    line-height: 1.6em;
}
*/

#news-section {
  padding: 0 30px;
}

#content #news-section h3 {
  font-weight: bold;
  margin: 30px 0 15px;
}

#content #news-section .newsItem h3 {
  margin: 0 0 0.5em;
}

.newsItem {
  margin: 0 20px 30px 0;
}

.newsItem:after,
.newsItem:before {
  content: " ";
  clear: both;
  display: table;
}

.newsItem .newsItemImage {
  float: left;
  width: 23.5%;
  height: auto;
  max-height: 180px;
  overflow: hidden;
  margin: 0 20px 0 0;
}

.newsItem .newsItemImage img {
  width: 100%;
  height: auto;
}

.newsItem p  {
  font-size: 15px;
}

/* livebox */
#livebox {
  text-align: center;
}

#livebox iframe {
  margin-bottom: 30px;
}

.tablePaddingWrp {
  padding-left: 36px;
}

.commentPaddingWrp {
  padding-right: 36px;
  text-align: left;
}

@media (max-width: 991px) {
  .tablePaddingWrp {
    padding-right: 36px;
  }
  .commentPaddingWrp {
    padding-left: 36px;
  }
}

/* servizi umanot */
.serviceBox {
  background-color: #668DA4;
  padding: 15px;
  min-height: 300px;
  margin-bottom: 30px;
  position: relative;
}

.serviceBox a {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.serviceBox h3 {
  margin-top: 0;
  color: #FFFFFF;
}

#content .serviceBox p {
  color: #FFFFFF;
}

@media (min-width: 769px) {
  .huge .modal-dialog {
    width: 100%;
    max-width: 1200px;
  }
}

/* portfolio */
.portfolio-wrp p.documentDescription,
.portfolio-wrp p {
  //text-align: center;
}

.portfolio-wrp .documentDescription {
  margin-bottom: 0.6em;
}

.icon-td {
  text-align: right;
}

.icon-td i {
  font-size: 20px;
}

.icon-td i.fa-arrow-up {
  color: #4FC77D;
}

.icon-td i.fa-arrow-down {
  color: #EE6060;
}

.icon-td i.fa-minus {
  color: #666;
}

.serviceItemContent {
  width:80%;
}
@media (max-width:767px) {
  #service-section .serviceItem .ghostButton {
    position: static;
  }
}
@media (max-width:514px) {
  .serviceItemContent {
    width:100%;
  }
}